.inputcontainer {
  position: relative;
}

.inputcontainer input {
  padding-left: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.inputcontainer::before {
  content: "";
  background-image: url("/nav/search.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
